<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
	<servlet>
		<servlet-name>resolverServiceImpl</servlet-name>
		<servlet-class>edu.udes.bio.genus.server.ResolverServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>resolverServiceImpl</servlet-name>
		<url-pattern>/genus/resolve</url-pattern>
	</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GenUS.html</welcome-file>
  </welcome-file-list>

</web-app>
